.Button {
    display: inline flow-root;
    background-color: var(--s-button--background-color--normal, #000);
    color: var(--s-button--color--normal, #fff);
    border: var(--s-button--border--normal, none);

    border-radius: var(--s-button--border-radius, 4px);

    box-shadow: var(--s-button--box-shadow, none);

    transition:
        background-color var(--s-app--anime--dur--base)
            var(--s-app--anime--easing--base),
        color var(--s-app--anime--dur--base) var(--s-app--anime--easing--base),
        border var(--s-app--anime--dur--base) var(--s-app--anime--easing--base);

    height: auto;
    min-height: var(--s-button--height, 40px);
    padding: 0 16px;

    cursor: pointer;
}

/* Button states */
.Button:hover {
    background-color: var(--s-button--background-color--hover, #000);
    color: var(--s-button--color--hover, #fff);
    border: var(--s-button--border--hover, none);
}
.Button:focus-visible {
    background-color: var(--s-button--background-color--hover, #000);
    color: var(--s-button--color--hover, #fff);
    border: var(--s-button--border--hover, none);
}
.Button:active {
    background-color: var(--s-button--background-color--active, #000);
    color: var(--s-button--color--active, #fff);
    border: var(--s-button--border--active, none);
}
.Button:disabled {
    background-color: var(--s-button--background-color--disabled, #000);
    color: var(--s-button--color--disabled, #fff);
    border: var(--s-button--border--disabled, none);

    cursor: not-allowed;
}

.Button > .mainLayer {
    opacity: 1;
}
.Button.isOnLoadingProcess > .mainLayer {
    opacity: 0;
}
.Button.isOnLoadingProcess > .circularLoaderContainer {
    display: flex;
}

/* Block button */
.Button.block {
    display: block flow-root;
    width: 100%;
}

/* layer */
.absLayer {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}

/* Circular loader */
.circularLoaderContainer {
    display: none;
    justify-content: center;
    align-items: center;

    pointer-events: none;
}
.circularLoaderContainer > .circularLoader {
    width: 1rem;
}

/* Text */
.childTextContainer {
}
.childTextContainer > .childText {
    user-select: none;
    -webkit-user-select: none;
}
