.Text {
    font-size: var(--s-text--font-size, 16px);
    font-family: var(--s-app--font-family--normal, "Arial");
    color: inherit;
    margin: 0;
    padding: 0;
}

.heading {
    font-weight: 500;
    line-height: 1.54;
}
.subtitle {
    font-weight: 500;
    line-height: 1.54;
}
.body {
    font-weight: 400;
    line-height: 1.334;
}

.button {
    font-weight: 500;
    line-height: 1.667;
}
