.DateSelect {
    width: 100%;
}

.MonthContainer {
    display: grid;
    width: 100%;
    max-width: 100%;
    padding: var(--s-app--spacer--4x, 16px) 0;

    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto auto;
    gap: var(--s-app--spacer--1x, 4px);
}

.MonthContainer .DateSelectItem {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: flex-start;

    width: 100%;
    height: var(--s-date-select-item--height, 40px);
}
.itemButton {
    padding: 0;
    height: 100%;
    width: 100%;
    max-width: var(--s-date-select-item--height, 40px);
}
