.Icon {
    display: -webkit-box;
    display: block flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;

    width: var(--s-icon--size, 100%);
}

.Icon > .Icon__svg {
    width: 100%;
}
