:root {
    --s-app--font-family--normal: "Inter var", "Inter", -apple-system,
        BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica,
        Arial, "Noto Sans", ui-sans-serif, system-ui, sans-serif,
        "Uncertonle Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";

    --s-app--font-family--mono: ui-monospace, SFMono-Regular, "SF Mono", Menlo,
        Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

    --s-app--font-size--base: 16px;

    --s-app--anime--dur--base: 0.144s;
    --s-app--anime--easing--base: cubic-bezier(0.667, 0, 0.333, 1);
    --s-app--anime--dur--impressive: 0.256s;
    --s-app--anime--easing--impressive: cubic-bezier(0.667, 0, 0.333, 1);

    --s-app--color--red--50: #fff9f6;
    --s-app--color--red--100: #ffe9e1;
    --s-app--color--red--200: #ffc9b5;
    --s-app--color--red--300: #ffa78a;
    --s-app--color--red--400: #ff805c;
    --s-app--color--red--500: #d73210;
    --s-app--color--red--600: #c93010;
    --s-app--color--red--700: #9a2a11;
    --s-app--color--red--800: #7e2510;
    --s-app--color--red--900: #642010;

    --s-app--color--orange--50: #fff9f2;
    --s-app--color--orange--100: #ffead5;
    --s-app--color--orange--200: #ffcb95;
    --s-app--color--orange--300: #ffaa51;
    --s-app--color--orange--400: #f38b04;
    --s-app--color--orange--500: #a76112;
    --s-app--color--orange--600: #9c5b12;
    --s-app--color--orange--700: #784713;
    --s-app--color--orange--800: #633b12;
    --s-app--color--orange--900: #4f3011;

    --s-app--color--yellow--50: #fff9ef;
    --s-app--color--yellow--100: #ffebc8;
    --s-app--color--yellow--200: #f9cf78;
    --s-app--color--yellow--300: #ecb418;
    --s-app--color--yellow--400: #d19c11;
    --s-app--color--yellow--500: #916c17;
    --s-app--color--yellow--600: #896418;
    --s-app--color--yellow--700: #6a4d17;
    --s-app--color--yellow--800: #594015;
    --s-app--color--yellow--900: #473314;

    --s-app--color--green--50: #f4fcf7;
    --s-app--color--green--100: #d9f4e5;
    --s-app--color--green--200: #9ee3bf;
    --s-app--color--green--300: #5cd29c;
    --s-app--color--green--400: #22bb80;
    --s-app--color--green--500: #23815a;
    --s-app--color--green--600: #237854;
    --s-app--color--green--700: #205d42;
    --s-app--color--green--800: #1d4d37;
    --s-app--color--green--900: #1a3e2d;

    --s-app--color--teal--50: #f0fcfd;
    --s-app--color--teal--100: #ccf5f8;
    --s-app--color--teal--200: #75e5ed;
    --s-app--color--teal--300: #6accd3;
    --s-app--color--teal--400: #5eb2b8;
    --s-app--color--teal--500: #447a7e;
    --s-app--color--teal--600: #407276;
    --s-app--color--teal--700: #34585b;
    --s-app--color--teal--800: #2c494b;
    --s-app--color--teal--900: #253b3c;

    --s-app--color--blue--50: #f8fafe;
    --s-app--color--blue--100: #e7eefd;
    --s-app--color--blue--200: #c5d5fb;
    --s-app--color--blue--300: #a3bcf8;
    --s-app--color--blue--400: #81a3f5;
    --s-app--color--blue--500: #366ae7;
    --s-app--color--blue--600: #3263d8;
    --s-app--color--blue--700: #274da7;
    --s-app--color--blue--800: #20408b;
    --s-app--color--blue--900: #1a3370;

    --s-app--color--purple--50: #fcf9ff;
    --s-app--color--purple--100: #f6e9fd;
    --s-app--color--purple--200: #e9c9fa;
    --s-app--color--purple--300: #deaaf4;
    --s-app--color--purple--400: #d288ee;
    --s-app--color--purple--500: #b22fde;
    --s-app--color--purple--600: #b10ad8;
    --s-app--color--purple--700: #9a00bc;
    --s-app--color--purple--800: #830096;
    --s-app--color--purple--900: #6a0073;

    --s-app--color--gray--50: #f9fafb;
    --s-app--color--gray--100: #eceef1;
    --s-app--color--gray--200: #d0d5dc;
    --s-app--color--gray--300: #b5bec9;
    --s-app--color--gray--400: #9ba6b5;
    --s-app--color--gray--500: #627489;
    --s-app--color--gray--600: #5c6c80;
    --s-app--color--gray--700: #485362;
    --s-app--color--gray--800: #3c4551;
    --s-app--color--gray--900: #313840;

    --s-app--color--system--light: #1143ef;
    --s-app--color--system--dark: #5777e7;

    --s-app--spacer--0x: 0;
    --s-app--spacer--1x: 4px;
    --s-app--spacer--2x: 8px;
    --s-app--spacer--3x: 12px;
    --s-app--spacer--4x: 16px;
    --s-app--spacer--5x: 20px;
    --s-app--spacer--6x: 24px;
    --s-app--spacer--7x: 28px;
    --s-app--spacer--8x: 32px;
    --s-app--spacer--9x: 36px;
    --s-app--spacer--10x: 40px;
    --s-app--spacer--11x: 44px;
    --s-app--spacer--12x: 48px;

    /* if change those values, you should also change the values in api/Elevation */
    --s-elevation--0: 0 0px 0px 0px rgba(0, 0, 0, 0.28),
        0px 0px 0px 0px rgba(0, 0, 0, 0.18);
    --s-elevation--1: 0 0.086px 0.26px 0px rgba(0, 0, 0, 0.28),
        0px 0.869px 1.217px 0px rgba(0, 0, 0, 0.18);
    --s-elevation--2: 0 0.173px 0.521px 0px rgba(0, 0, 0, 0.28),
        0px 1.739px 2.434px 0px rgba(0, 0, 0, 0.18);
    --s-elevation--3: 0 0.26px 0.782px 0px rgba(0, 0, 0, 0.28),
        0px 2.608px 3.652px 0px rgba(0, 0, 0, 0.18);
    --s-elevation--4: 0 0.347px 1.043px 0px rgba(0, 0, 0, 0.28),
        0px 3.478px 4.869px 0px rgba(0, 0, 0, 0.18);
    --s-elevation--5: 0 0.434px 1.304px 0px rgba(0, 0, 0, 0.28),
        0px 4.347px 6.086px 0px rgba(0, 0, 0, 0.18);
    --s-elevation--6: 0 0.521px 1.565px 0px rgba(0, 0, 0, 0.28),
        0px 5.217px 7.304px 0px rgba(0, 0, 0, 0.18);
    --s-elevation--7: 0 0.608px 1.826px 0px rgba(0, 0, 0, 0.28),
        0px 6.086px 8.521px 0px rgba(0, 0, 0, 0.18);
    --s-elevation--8: 0 0.695px 2.086px 0px rgba(0, 0, 0, 0.28),
        0px 6.956px 9.739px 0px rgba(0, 0, 0, 0.18);
    --s-elevation--9: 0 0.782px 2.347px 0px rgba(0, 0, 0, 0.28),
        0px 7.826px 10.956px 0px rgba(0, 0, 0, 0.18);
    --s-elevation--10: 0 0.869px 2.608px 0px rgba(0, 0, 0, 0.28),
        0px 8.695px 12.173px 0px rgba(0, 0, 0, 0.18);
    --s-elevation--11: 0 0.956px 2.869px 0px rgba(0, 0, 0, 0.28),
        0px 9.565px 13.391px 0px rgba(0, 0, 0, 0.18);
    --s-elevation--12: 0 1.043px 3.13px 0px rgba(0, 0, 0, 0.28),
        0px 10.434px 14.608px 0px rgba(0, 0, 0, 0.18);
    --s-elevation--13: 0 1.13px 3.391px 0px rgba(0, 0, 0, 0.28),
        0px 11.304px 15.826px 0px rgba(0, 0, 0, 0.18);
    --s-elevation--14: 0 1.217px 3.652px 0px rgba(0, 0, 0, 0.28),
        0px 12.173px 17.043px 0px rgba(0, 0, 0, 0.18);
    --s-elevation--15: 0 1.304px 3.913px 0px rgba(0, 0, 0, 0.28),
        0px 13.043px 18.26px 0px rgba(0, 0, 0, 0.18);
    --s-elevation--16: 0 1.391px 4.173px 0px rgba(0, 0, 0, 0.28),
        0px 13.913px 19.478px 0px rgba(0, 0, 0, 0.18);
    --s-elevation--17: 0 1.478px 4.434px 0px rgba(0, 0, 0, 0.28),
        0px 14.782px 20.695px 0px rgba(0, 0, 0, 0.18);
    --s-elevation--18: 0 1.565px 4.695px 0px rgba(0, 0, 0, 0.28),
        0px 15.652px 21.913px 0px rgba(0, 0, 0, 0.18);
    --s-elevation--19: 0 1.652px 4.956px 0px rgba(0, 0, 0, 0.28),
        0px 16.521px 23.13px 0px rgba(0, 0, 0, 0.18);
    --s-elevation--20: 0 1.739px 5.217px 0px rgba(0, 0, 0, 0.28),
        0px 17.391px 24.347px 0px rgba(0, 0, 0, 0.18);
    --s-elevation--21: 0 1.826px 5.478px 0px rgba(0, 0, 0, 0.28),
        0px 18.26px 25.565px 0px rgba(0, 0, 0, 0.18);
    --s-elevation--22: 0 1.913px 5.739px 0px rgba(0, 0, 0, 0.28),
        0px 19.13px 26.782px 0px rgba(0, 0, 0, 0.18);
    --s-elevation--23: 0 2px 6px 0px rgba(0, 0, 0, 0.28),
        0px 20px 28px 0px rgba(0, 0, 0, 0.18);

    --s-typography--font-size--1: 3rem;
    --s-typography--font-size--2: 1.8rem;
    --s-typography--font-size--3: 1.285rem;
    --s-typography--font-size--4: 1rem;
    --s-typography--font-size--5: 0.818rem;
    --s-typography--font-size--6: 0.692rem;
    --s-typography--font-size--7: 0.6rem;

    --s-app--line-height--heading: 1.54;
    --s-app--line-height--body: 1.334;
}

* {
    box-sizing: border-box;
}

html,
body {
}

body {
    margin: 0;
    font-family: var(--s-app--font-family--normal);
    font-size: var(--s-app--font-size--base, 14px);
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    -webkit-user-select: none;
    -moz-user-select: none;
}
